{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/img/logo.png'">
    <title>Sua Receita</title>
</head>
<body>
    <nav id="logoSite">
        <div class="logoImg">
            <a class="logo" href="#header">
                <img src="{% static 'img/logo.png' %}" alt="logo">                            
                <h1>Sua Receita           </h1>
            </a>   
        </div>        
        <div class="divLinks">
            <a href="/saiba">Sobre nós</a>
            <a href="/sobre">Receitas</a>
        </div>        
        <div class="loginCadastro">   
            <a href="/login">Entrar</a>
            <span>/</span>
            <a href="/cadastro">Cadastre-se</a>
        </div>
    </div>
</nav>
<header>

</header>
    <footer>

    </footer>
</body>
</html>